# Tntp.Solution exclusions - .vs, packages, bin, and obj directories; .user files
Tntp.Solution/.vs/
Tntp.Solution/packages/
Tntp.Solution/Tntp.Database/bin/
Tntp.Solution/Tntp.Database/obj/
Tntp.Solution/Tntp.Database/Tntp.Database.sqlproj.user
Tntp.Solution/Tntp.WebApplication/bin/
Tntp.Solution/Tntp.WebApplication/obj/
Tntp.Solution/Tntp.WebApplication/Tntp.WebApplication.csproj.user
Tntp.Solution/Tntp.WebApplication.Tests/bin/
Tntp.Solution/Tntp.WebApplication.Tests/obj/