@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Simple Twitter by John</h2>
<ul>
    <li>@Html.ActionLink("List All Tweets", "ListTweets")</li>
    <li>@Html.ActionLink("Tweet Something", "AddTweet")</li>
</ul>