@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1111 First Lane<br />
    Houston Tx<br />
    <abbr title="Phone">P:</abbr>
    713 444 0000
</address>

<address>
    <strong>Support:</strong> Support@simpletwitter.com<br />    
</address>